
*.o
*~
demo/fuse-demo
fskit.pc
fskit_fuse.pc
libfskit.so
libfskit.so.*
libfskit_fuse.so
libfskit_fuse.so.*
test/test-create
test/test-mkdir
test/test-mknod
test/test-open
test/test-read
test/test-readdir
test/test-rename
test/test-rmdir
test/test-route
test/test-stat
test/test-trunc
test/test-unlink
test/test-utime
test/test-write
test/test-xattr
